<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Vujahday+Script&display=swap" rel="stylesheet">
    <style>
        .navbar{  background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.6699813714548319) 100%); }
    </style>
    <title>bus2</title>
  </head>
  <body>

    {% for bus in bus %}
    <div class="card border-danger" style="height: 17rem;width: 60rem; margin-left: 20rem; margin-top: 4rem;">
        <div class="card-body">
          <img src="{{bus.bus_image}}" style="height: 5rem;" >
          <h1 style="font-size: x-large; margin-left: 6rem; margin-top: -5rem;font-family:'Vujahday Script', cursive;">{{bus.bus_comp}}</h1>
          <p style="margin-left: 6rem;">{{bus.bus_type}}</p>
          <p style="margin-left: 19rem;margin-top: -5rem;">Departure</p>
          <p style="margin-left: 37rem;margin-top: -2.5rem;">Arrival</p>
          <h2 style="margin-left: 19rem;font-family: 'Oswald', sans-serif;">{{bus.bus_from}}</h2>
          <p style="margin-left: 19rem;" >{{bus.bus_deptime}}</p>
          <p class="font-bold" style= "margin-left: 16rem; margin-top: -0.4rem;">{{bus.bus_dept}}</p>
          <h3 style="margin-left: 37rem; margin-top: -7.8rem;font-family: 'Oswald', sans-serif;">{{bus.bus_to}}</h3>
          <p style="margin-left: 37rem;" >{{bus.bus_arrtime}}</p>
          <p class="font-bold" style ="margin-left:36rem;margin-top: -0rem;">{{bus.bus_arr}}</p>
          <img src="../static/imgs/arrow.png" style="margin-left: 29.5rem; width: 5rem; margin-top: -14rem;">
          <p  style="margin-left: 50rem; margin-top: -9rem;margin-bottom: 4rem; font-size: xx-large; color: rgb(255, 0, 0);font-style: italic;">&#x20b9;{{bus.bus_price}}</p>
          <a class="btn btn-success" type="submit" style="margin-left: 50rem; margin-top: -1rem;"  href="bus-info/{{bus.bus_id}}">Book now </a>
          <p>Amenities: <img src="../static/imgs/blanket.webp" style="height: 3rem;" title="Pillow & Blanket"> <img src="../static/imgs/bottle.png " style="height: 3rem;"title="Water Bottle"> <img src="../static/imgs/charger.png" style="height: 3rem;"title="Charging slot"></p>
        </div>
    </div>

    {% endfor %}
    <!--end of cards-->



    <!--start of page navigation-->
    <p style="margin-left: 47.5rem; margin-bottom: -5rem;margin-top: 5rem;">Page 3 of 3</p>
    <nav aria-label="Page navigation example" style="margin-left: 45rem; margin-top: 5rem;">
        <ul class="pagination" >
        <li class="page-item " >
            <a class="page-link " href="/bus1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="/bus">1</a></li>
        <li class="page-item"><a class="page-link" href="/bus1">2</a></li>
        <li class="page-item"><a class="page-link" href="/bus2">3</a></li>
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        </ul>
    </nav>
    <!--end of page navigation-->

    

  </body>
</html>
