<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Pushster&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amita&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet"> 
    <style>
        .navbar{
        background: linear-gradient(90deg, rgba(7,1,58,0.9500934162727591) 23%, rgba(179,121,200,1) 87%); 
        } 
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark " >
        <div class="logo">
          <img src="../static/imgs/4s.png" height="55" width="55" >
        </div>
          <div class="container-fluid" id="section1">
            <a class="navbar-brand " href="#"  style="font-family:'Caveat', cursive; font-size: xx-large; color: rgb(188, 252, 13);" >Four seasons</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <h1 class="text fst-italic" style="font-size: small; color: cornsilk;">Be boundless</h1>
              <span class="navbar-toggler-icon"></span>
              
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active "  aria-current="page" href="/home" style="font-size: x-large;"><img src="../static/imgs/home.png" height="30cm" width="30cm"> Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active " aria-current="page" href="/login-section"  style="font-size: x-large;"><img src="../static/imgs/login.png" height="30cm" width="30cm">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active"  aria-current="page" href="/reg-section" style="font-size: x-large;"><img src="../static/imgs/reg.png" height="30cm" width="30cm">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active " aria-current="page" href="/joinus" style="font-size: x-large;"><img src="../static/imgs/emp.png" height="30cm" width="30cm">Join Us</a>
                </li>
              </ul>
              
            </div>
          </div>
      </nav>

      <div class="container">
    <h1 style=" margin-top: 4rem; font-family: 'Alfa Slab One', cursive;text-align: center;">LOGIN AS</h1>
    <div class="row mt-4 p-2 ">
        <div class="col-sm-6"> 
            <div class="card" style="height: 25rem; width: 25rem; margin-left: 15rem; ">
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <img src="../static/imgs/admin.png" style="width: 10rem; height: 10rem; margin-left: 6.5rem;">
              <h5 class="card-title text-center" style="font-size: xx-large; font-family: 'Patua One', cursive;"  > ADMIN</h5>
              <p class="card-text text-center mt-3" style="font-size: xx-large;font-style: italic;">Login as  admin</p>
              <a href="/lgn-admin" class="btn btn-primary mt-5" style="margin-left: 6.5rem; font-size: x-large;   ">Click Here</a>
            </div>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="height: 25rem; width: 25rem; margin-left: 5rem;">
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <img src="../static/imgs/login.png" style="width: 10rem; height: 10rem; margin-left: 5.5rem;">
              <h5 class="card-title text-center" style="font-size: xx-large; font-family: 'Patua One', cursive;" > USER</h5>
              <p class="card-text text-center mt-3" style="font-size: xx-large;font-style: italic;">Login as  User</p>
              <a href="/lgn-usr" class="btn btn-primary mt-5" style="margin-left: 6.5rem; font-size: x-large;  ">Click Here</a>
            </div>
            </div>
            </div>
        </div>
        
    </div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
